:root {
  --lightblue: #33B1FF;
  --blue: #0024FF;
  --red: #FF2700;
  --purple: #CC00CC;
  --brown: #925B00;
  --green: #00FF00;
  --orange: #FF9900;
}

@font-face {
  font-family: 'Data Seventy';
  src: url('./assets/data_seventy.otf');
}

body {
  font-family: 'Data Seventy';
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}

kbd {
  background-color: #333;
  border-radius: 3px;
  border: 1px solid #888;
  color: #e8e8e8;
  display: inline-block;
  font-weight: bold;
  font-weight: 700;
  padding: 2px 4px;
  white-space: nowrap;
}

.info {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 0.75em;
  color: #999;
  text-align: center;
}

.info a {
  color: #999;
}